In [37]:
import json
import sqlite3
import pandas as pd
import geojson

In [2]:
#import json file

In [3]:
with open('states.json') as f:
  data = json.load(f)

In [4]:
#import csv file

In [5]:
csvfile = pd.read_csv("clean.csv")
csvfile=csvfile.groupby("state").sum()["deaths"]

In [6]:
# reset the index of csv file 
csv_reset_index = csvfile.reset_index()
csv_reset_index

                   state    deaths
0                Alabama   1603535
1                 Alaska    117890
2                Arizona   1572443
3               Arkansas    987455
4             California   8169513
5               Colorado   1039435
6            Connecticut    981027
7               Delaware    255015
8   District of Columbia    168907
9                Florida   5868231
10               Georgia   2326265
11                Hawaii    320652
12                 Idaho    375595
13              Illinois   3489953
14               Indiana   1934641
15                  Iowa    954486
16                Kansas    831840
17              Kentucky   1423885
18             Louisiana   1409567
19                 Maine    433412
20              Maryland   1469677
21         Massachusetts   1812189
22              Michigan   3011369
23             Minnesota   1288025
24           Mississippi    992097
25              Missouri   1905549
26               Montana    294784
27              Nebraska    513032
28                Nevada    652604
29         New Hampshire    353884
30            New Jersey   2397044
31            New Mexico    521279
32              New York   5161056
33        North Carolina   2608123
34          North Dakota    202091
35                  Ohio   3716207
36              Oklahoma   1243157
37                Oregon   1064013
38          Pennsylvania   4304492
39          Rhode Island    327640
40        South Carolina   1364864
41          South Dakota    244178
42             Tennessee   2012251
43                 Texas   5535028
44         United States  84009152
45                  Utah    472567
46               Vermont    179348
47              Virginia   1989346
48            Washington   1635078
49         West Virginia    721988
50             Wisconsin   1607291
51               Wyoming    145154

In [7]:
import pandas as pd
csv_reset_index.sort_values(by=['deaths'])
# df.sort_values(by=['col1'])

                   state    deaths
1                 Alaska    117890
51               Wyoming    145154
8   District of Columbia    168907
46               Vermont    179348
34          North Dakota    202091
41          South Dakota    244178
7               Delaware    255015
26               Montana    294784
11                Hawaii    320652
39          Rhode Island    327640
29         New Hampshire    353884
12                 Idaho    375595
19                 Maine    433412
45                  Utah    472567
27              Nebraska    513032
31            New Mexico    521279
28                Nevada    652604
49         West Virginia    721988
16                Kansas    831840
15                  Iowa    954486
6            Connecticut    981027
3               Arkansas    987455
24           Mississippi    992097
5               Colorado   1039435
37                Oregon   1064013
36              Oklahoma   1243157
23             Minnesota   1288025
40        South Carolina   1364864
18             Louisiana   1409567
17              Kentucky   1423885
20              Maryland   1469677
2                Arizona   1572443
0                Alabama   1603535
50             Wisconsin   1607291
48            Washington   1635078
21         Massachusetts   1812189
25              Missouri   1905549
14               Indiana   1934641
47              Virginia   1989346
42             Tennessee   2012251
10               Georgia   2326265
30            New Jersey   2397044
33        North Carolina   2608123
22              Michigan   3011369
13              Illinois   3489953
35                  Ohio   3716207
38          Pennsylvania   4304492
32              New York   5161056
43                 Texas   5535028
9                Florida   5868231
4             California   8169513
44         United States  84009152

In [8]:
# csv_reset_index.loc["Wyoming"]
# csvfile.loc["Wyoming"]
# csvfile.loc[csvfile['state'] == 'Wyoming']
# csvfile.loc[csvfile['deaths'].isin(Wyoming)]
# csvfile.loc['Wisconsin']
csv_reset_index['state']

0                  Alabama
1                   Alaska
2                  Arizona
3                 Arkansas
4               California
5                 Colorado
6              Connecticut
7                 Delaware
8     District of Columbia
9                  Florida
10                 Georgia
11                  Hawaii
12                   Idaho
13                Illinois
14                 Indiana
15                    Iowa
16                  Kansas
17                Kentucky
18               Louisiana
19                   Maine
20                Maryland
21           Massachusetts
22                Michigan
23               Minnesota
24             Mississippi
25                Missouri
26                 Montana
27                Nebraska
28                  Nevada
29           New Hampshire
30              New Jersey
31              New Mexico
32                New York
33          North Carolina
34            North Dakota
35                    Ohio
36                Oklahoma
37                  Oregon
38            Pennsylvania
39            Rhode Island
40          South Carolina
41            South Dakota
42               Tennessee
43                   Texas
44           United States
45                    Utah
46                 Vermont
47                Virginia
48              Washington
49           West Virginia
50               Wisconsin
51                 Wyoming
Name: state, dtype: object

In [31]:
#loop trough all of the json file, if the state in json file is the same in csvfile, replace denisty with deaths value!Else return zero 


with open('states.json') as f:
    data = json.load(f)
    for i in data["features"]:
        state_json =i["properties"]["name"]  
        if (state_json == "Puerto Rico"): 
            pass
        # del state_json[-1]           
        elif any((state_json) for state in csv_reset_index['state']):
#             ["properties"]["density"]= csvfile.loc[state_json]
            i["properties"]["density"]=csvfile.loc[state_json]
        else:
            i["properties"]["density"]= 0
        



# csvfile.loc[state_json]
# i["properties"]["density"]''
# data["features"][0]["properties"]["density"]
# csvfile.loc[state_json]
type(data)

dict

In [38]:
#export json file 
with open('../static/data/data.geojson', 'w') as outfile:
    geojson.dump(data, outfile)

TypeError: '_io.TextIOWrapper' object is not callable